//Импорт шрифтов
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

//Импорт partial файлов
@import "./partial/nullstyle";
@import "./partial/header";
@import "./partial/footer";

//Переменные и шаблоны
$page-bg-color: white;
$main-text-color: #626262;
$post-category-color: #b4ad9e;

%light-title-font {
  font-family: Ubuntu;
  font-weight: 300;
  color: $post-category-color;
  text-transform: uppercase;
}

%post-content {
  .post-category {
    @extend %light-title-font;
  }

  a,
  .post-header {
    padding: 30px 0;
    font-size: 30px;
    color: $main-text-color;
  }
}

@mixin user-avatar-setting($background-avatar-color) {
  .user-avatar {
    width: 70px;
    height: 70px;
    position: relative;

    a {
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        border-radius: 50%;
      }

      &::before {
        content: "JD";
        padding: 5px 0 0 15px;
        @extend %light-title-font;
        color: $page-bg-color;
        font-size: 34px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $background-avatar-color;
      }
    }
  }
}

//Настройка основного шрифта страницы
body {
  background-color: $page-bg-color;
  font-family: "Playfair Display";
  font-size: 14px;
  color: $main-text-color;
  line-height: 1.71;
}

//Стили блока main
.main-img-container {
  margin: 0px 69px 99px 70px;
  img {
    width: 100%;
  }
}

.fullwidth-post-container {
  padding: 0px 149px 0px 158px;

  @extend %post-content;

  p {
  }

  form > textarea {
    margin: 50px 0px 100px 0px;
    font-family: Ubuntu;
    font-weight: 300;
    resize: none;
    color: $main-text-color;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $post-category-color;
      opacity: 1; /* Firefox */
    }

    &::-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $post-category-color;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $post-category-color;
    }

    &:focus {
      border-bottom: solid;
      border-width: 1px;
    }
  }
}

.posts-grid {
  padding-inline: 150px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);

  .small-post-container {
    margin-bottom: 135px;

    &:nth-child(odd) {
      grid-column: 1/8;
    }

    &:nth-child(even) {
      grid-column: 9/16;
    }

    .post-img-container {
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }

    @extend %post-content;

    .post-body {
      max-height: 100px;
      overflow: hidden;
    }
  }
}

.signup-container {
  margin-left: 55px;
  margin-bottom: 90px;
  padding-top: 40px;
  padding-bottom: 110px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 30px;
    letter-spacing: 0.75px;
    color: #333;
    margin-bottom: 85px;
  }

  .form-container {
    padding-bottom: 9px;
    border-bottom: solid;
    border-width: 1px;

    .useremail-input {
      width: 367px;
      background-color: #f0f0f0;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;

  .load-more-btn {
    padding: 21px 34px;
    font-size: 20px;
    color: $main-text-color;
    border-width: 1px;
    border-style: solid;
    border-color: $main-text-color;
    &:hover {
      background: #f0f0f0;
    }
  }
}

.page-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .page-content {
    padding-left: 150px;
    grid-column: 1/5;
    .fullwidth-post-container {
      padding-inline: 0px;
      margin-bottom: 60px;
    }
  }
  .side-bar {
    grid-column: 5/7;
  }
}

.page-content {
  .post-images {
    img {
      width: 100%;
      margin-bottom: 55px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .post-main-text {
    margin: 65px 0;
    .main-text-italic {
      font-style: italic;
      padding-bottom: 30px;
    }
    .main-text-black {
      font-weight: 900;
    }
  }

  .share-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
      margin-right: 15px;

      a > img {
        height: 75%;
        padding-top: 5px;
      }

      a {
        @extend %light-title-font;
      }
    }
  }
}

.side-bar {
  padding: 0px 70px 0px 45px;

  .side-bar-author-img {
    a > img {
      width: 100%;
    }
  }
  .side-bar-header {
    margin: 20px 0;
    a {
      color: $main-text-color;
      font-size: 20px;
      line-height: 0.83;
    }
  }
  .side-bar-author-info {
    max-height: 100px;
    overflow: hidden;
    a {
      color: $main-text-color;
    }
  }
  .side-bar-social-medias {
    margin: 20px 0 75px 0;
    display: flex;
    flex-direction: row;
    li {
      img {
        height: 70%;
      }

      &:nth-child(2) {
        margin-inline: 15px;
      }
    }
  }
  .top-post-container {
    .top-posts-header {
      @extend %light-title-font;
      margin-bottom: 35px;
    }
    .top-posts-list {
      margin-bottom: 55px;

      li {
        padding-left: 25px;
        position: relative;
        a {
          color: $main-text-color;
          font-size: 16px;
        }
        span {
          @extend %light-title-font;
          font-size: 12px;
        }

        &::before {
          content: "";
          width: 5px;
          height: 5px;
          background-color: #b4ad9e;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 13px;
          left: 0;
        }
      }
    }
  }
  .banner-spot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #d1c6b5;

    img {
      width: 100%;
    }

    .banner-spot-text {
      position: absolute;
      color: white;
      text-align: center;
      @extend %light-title-font;

      .banner-spot-sizes {
        font-size: 48px;
      }

      .img-text {
        font-weight: 400;
      }
    }
  }
}

.you-may-also-like {
  margin: 120px 0px 65px 0;
  padding: 50px 151px;
  background-color: #f2f2f2;

  & > p {
    @extend %light-title-font;
  }

  .posts-list {
    display: flex;
    flex-direction: row;

    .post-preview {
      margin-top: 40px;

      img {
        width: 100%;
        margin-bottom: 24px;
      }

      a > p {
        font-size: 20px;
        color: $main-text-color;
      }

      &:nth-child(2) {
        margin-inline: 45px;
      }
    }
  }
}

.comments {
  padding-inline: 150px;

  .comments-count {
    margin-bottom: 45px;
    @extend %light-title-font;
  }
  .comments-container {
    .comment {
      display: grid;
      grid-template-columns: repeat(15, 1fr);
      margin-bottom: 60px;

      @include user-avatar-setting(rgb(193, 220, 228));

      .comment-container {
        padding-left: 35px;
        grid-column: 2/16;
        .user-name {
          a {
            color: $main-text-color;
            font-weight: bold;
          }
        }

        .comment-content {
          line-height: 1.71;
        }

        form {
          .reply-btn {
            margin-top: 20px;
            background-color: $page-bg-color;
            @extend %light-title-font;
          }
        }
      }
    }
  }

  .new-comment-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);

    @include user-avatar-setting(#ededea);

    .comment-container {
      padding-left: 35px;
      grid-column: 2/16;
      form {
        .new-comment {
          padding: 28px 34px;
          padding-bottom: 0;
          width: 100%;
          height: 70px;
          border-style: solid;
          border-width: 0.5px;
          border-radius: 5px;
          border-color: #c8c8c8;
          resize: none;
          @extend %light-title-font;
          text-transform: none;
          color: $main-text-color;

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $post-category-color;
            text-transform: uppercase;
            opacity: 1; /* Firefox */
          }

          &::-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $post-category-color;
            text-transform: uppercase;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $post-category-color;
            text-transform: uppercase;
          }
        }
      }
    }

    .connected-with-area {
      display: flex;
      flex-direction: row-reverse;
      p {
        @extend %light-title-font;
      }
      ul {
        display: flex;
        padding-top: 5px;
        li {
          margin-left: 15px;
        }
      }
    }
  }
}
